CMakeLists.txt.user

.codelite
CMakeCache.txt
tools
cmake_install.cmake
CMakeFiles
CMakeScripts
*.project
*.workspace
*.a
*.xcodeproj
*.build/
install/
colorer/Makefile
bootstrap

far2l/Makefile

farftp/Makefile

farlng/Makefile

Makefile

tools/farlng

far2l/far2l.mk
